.fundo{
    background-color: #9f1f1f;
    color: white;
}

.bg-nav{
    background-color: #400000;
}

.bg-hr{
    background-color: black;
}

.bg-btn{
    background-color: black;
    color: white;
}

.bg-table{
    background-color: #794044;
    color: black;
}

