.fundo{
    background-color: #370994;
    color: white;
}

.bg-nav{
    background-color: #8C52FF;
}

.bg-hr{
    background-color: black;
}

.bg-btn{
    background-color: rgb(15, 109, 172);
    color: white;
}

.bg-table{
    background-color: #a8bfe1;
    color: black;
}

