{% extends 'base.html' %} {% load filters %} {% block 'body' %}
<div class="container mt-4 mb-4">
  {% if messages %}{% endif %}
  <br />
  {% for message in messages %}
  <div class="alert {{message.tags}}">{{message}}</div>
  {% endfor %}
  <div class="row">
    <div class="col-md-8 mx-auto">
      <form
        action="{% url 'add_produto' %}"
        method="POST"
        enctype="multipart/form-data"
        class="contact-form"
      >
        {% csrf_token %}
        <h3 class="form-title">CADASTRO DE PRODUTOS</h3>
        <!-- Adicionei a classe "form-title" -->
        <div class="row">
          <div class="col-md-6">
            <label for="imagens">Imagens:</label>
            <input
              type="file"
              name="imagens"
              id="imagens"
              class="form-control"
              multiple
            />
          </div>
          <div class="col-md-6">
            <label for="descricao">Descrição:</label>
            <input
              type="text"
              name="descricao"
              id="descricao"
              class="form-control"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="ean">EAN:</label>
            <input type="number" name="ean" id="ean" class="form-control" />
          </div>
          <div class="col-md-6">
            <label for="sku">SKU:</label>
            <input type="text" name="sku" id="sku" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="categoria">Categoria:</label>
            <select name="categoria" id="categoria" class="form-control">
              {% for categoria in categorias %}
              <option value="{{categoria.id}}">{{categoria.titulo}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-6">
            <label for="quantidade">Quantidade em Estoque:</label>
            <input
              type="number"
              name="quantidade"
              id="quantidade"
              class="form-control"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="preco_custo">Preço de Custo:</label>
            <input
              type="number"
              pattern="[0-9]+([,\.][0-4]+)?"
              min="0"
              step="any"
              name="preco_custo"
              id="preco_custo"
              class="form-control"
            />
          </div>
          <div class="col-md-6">
            <label for="preco_venda">Preço de Venda:</label>
            <input
              type="number"
              pattern="[0-9]+([,\.][0-4]+)?"
              min="0"
              step="any"
              name="preco_venda"
              id="preco_venda"
              class="form-control"
            />
          </div>
        </div>
        <br />
        <button type="submit" class="btnContact">Cadastrar</button>
      </form>
    </div>
  </div>
  <hr style="background-color: gray" />
  <!--###################################################-->
  <form action="{% url 'add_produto' %}" method="GET">
    <div class="row" style="padding-bottom: 1%;">
      <div class="col-md">
        <input type="number" name="ean" placeholder="EAN..." class="form-control">
      </div>
      <div class="col-md">
        <input type="text" name="descricao" placeholder="Produto..." class="form-control">
      </div>
        <div class="col-md">
          <select name="categoria" class="form-control">
            <option value="">Todas as Categorias</option>
            {% for categoria in categorias %}
            <option value="{{categoria.id}}">{{categoria.titulo}}</option>
            {% endfor %}
          </select>
        </div>
      <div class="col-md">
        <input type="submit" value="Filtrar" class="btn btn-primary">        
      </div>
    </div>
  </form>
  <!--###################################################-->
  <hr style="background-color: gray" />
  <div class="listar_produtos">
    <div class="row">
      {% for produto in produtos_tab %}
      <div class="col-md-12 mb-12">
        <div class="row justify-content-center mb-3">
          <div class="col-md-12">
            <div class="card produto-card shadow-0 border rounded-3">
              <div class="card-body">
                <div class="row g-0">
                  <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                    <div
                      class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                      {% if produto|get_first_image %}
                      <img src="{{ produto|get_first_image }}" class="w-100" />
                      {% else %}
                      <img
                        src="https://res.cloudinary.com/petraiosklytometis/image/upload/v1661377583/pngwing.com_gnefaa.png"
                        class="w-100"
                      />
                      {% endif %}
                    </div>
                  </br>
                  </div>
                  <div class="col-xl-9 col-md-8 col-sm-12">
                    <table class="table">
                        <tr>
                            <th>Descrição</th>
                            <th>EAN</th>
                            <th>Categoria</th>
                            <th>Preço de Venda</th>
                            <th>Preço de Custo</th>
                            <th>Estoque</th>
                        </tr>
                        <tr>
                            <td>
                                {% if produto.descricao|length > 20 %}
                                <span title="{{ produto.descricao }}">{{ produto.descricao|slice:":20" }}...</span>
                                {% else %}
                                {{ produto.descricao }}
                                {% endif %}
                            </td>
                            <td>{{ produto.ean }}</td>
                            <td>{{ produto.categoria }}</td>
                            <td>{{ produto.preco_venda | floatformat:2 }}</td>
                            <td>{{ produto.preco_custo | floatformat:4 }}</td>
                            <td>{{ produto.quantidade | floatformat:2 }}</td>
                        </tr>
                    </table>
                    <div class="mt-4">
                        <a href="{% url 'update_produto' slug=produto.slug %}" class="btn btn-primary" type="button" >Acessar</a>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
