{% extends "base.html" %}
{% block 'body' %}

<div class="row">
    <div class="col-md-8 mx-auto">
        <form
            action="{% url 'update_produto' slug=produto.slug %}"
            method="POST"
            enctype="multipart/form-data"
            class="contact-form"
        >
            {% csrf_token %}
            <h3 class="form-title">ATUALIZAÇÃO DE PRODUTOS</h3>
            <!-- Adicionei a classe "form-title" -->
            <input type="hidden" name="id" value="{{ form.instance.id }}">
            <table class="table">
                <tr>
                    <td><label for="{{ form.descricao.id_for_label }}">Descrição:</label></td>
                    <td>{{ form.descricao }}</td>
                </tr>
                <tr>
                    <td><label for="{{ form.ean.id_for_label }}">EAN:</label></td>
                    <td>{{ form.ean }}</td>
                </tr>
                <tr>
                    <td><label for="{{ form.sku.id_for_label }}">SKU:</label></td>
                    <td>{{ form.sku }}</td>
                </tr>
                <tr>
                    <td><label for="{{ form.categoria.id_for_label }}">Categoria:</label></td>
                    <td>{{ form.categoria }}</td>
                </tr>
                <tr>
                    <td><label for="{{ form.quantidade.id_for_label }}">Quantidade em Estoque:</label></td>
                    <td>{{ form.quantidade }}</td>
                </tr>
                <tr>
                    <td><label for="{{ form.preco_custo.id_for_label }}">Preço de Custo:</label></td>
                    <td>{{ form.preco_custo }}</td>
                </tr>
                <tr>
                    <td><label for="{{ form.preco_venda.id_for_label }}">Preço de Venda:</label></td>
                    <td>{{ form.preco_venda }}</td>
                </tr>
            </table>
            <br />
            <button type="submit" class="btn btn-primary">Atualizar</button> <!-- Atualize o rótulo do botão -->
        </form>
    </div>
</div>
</script>
{% endblock %}